body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.user_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 30px;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user_card {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user_card h2 {
  margin-top: 0;
}

.user_card p {
  margin: 0;
}

.user_card .role {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.user_card .status {
  color: #00c853;
}