body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  margin-bottom: 10px;
}

.value span {
  font-weight: bold;
}

.status {
  font-weight: bold;
  color: green;
}

.status.inactive {
  color: red;
}


.select_btn {
  background-color: #0033ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
.select_btn:hover {
  background-color: #3859d2;
}

.activate_btn {
  background-color: #08ff00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
.activate_btn:hover {
  background-color: #0c8800;
}

.active {
  color: green;
}

.notconfirmed {
  color: yellow;
}

.disabled {
  color: red;
}